
      <div class="container">
        <div class="row">
          <div class="col"></div>
          <div class="col"><h1>Welcome To SBI</h1> </div>
          <div class="col"></div>

        </div>

        <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="jumbrtron">
            <div class="form-group">
              <label for="exampleInputEmail1">Username</label>
              <input type="text" class="form-control" id="acno">
              <small id="emailHelp" class="form-text text-muted">We'll never share your Accountno with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="pwd">Password</label>
              <input type="password" class="form-control" id="pwd">
            </div>
       <button type="button" class="btn btn-primary" (click)="onLoginClick()" >Submit</button>
       </div>
       </div>
        </div>
      <div class="col"></div>    
</div>
