<div class="container">
    <a routerlink="/transcation-history">Transcation History</a>
    Balance: {{balance}}
    <div class="row">
        <div class="col-6">

            <form [formGroup]="depositForm" (ngSubmit)="deposit()">
                <h3>Deposit</h3>
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input formControlName="dpUsername"  type="text" class="form-control" name="uname" id="uname" />
                    <div *ngIf="depositForm.get('dpUsername').touched && depositForm.get('dpUsername').errors" class="error">Username is required</div>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Amount</label>
                    <input formControlName="dpAmount" type="text" class="form-control" name="amount" id="amount" />
                    <div *ngIf="depositForm.get('dpAmount').touched && depositForm.get('dpAmount').errors" class="error">Amount is required</div>
                </div>
                <button type="submit" class="btn btn-primary">Deposit</button>
            </form>

        </div>

        <div class="col-6">

            <form [formGroup]="withdrawForm"  (ngSubmit)="withdraw()" >
                <h3>Withdraw</h3>
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input  formControlName="wdUsername"  type="text" class="form-control" name="uname1" id="uname1">
                    <div *ngIf="withdrawForm.get('wdUsername').touched && withdrawForm.get('wdUsername').errors" class="error">Username is required</div>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Amount</label>
                    <input formControlName="wdAmount" type="text" class="form-control" name="amount1" id="amount1" />
                    <div *ngIf="withdrawForm.get('wdAmount').touched && withdrawForm.get('wdAmount').errors" class="error">Amount is required</div>
                </div>
                <button type="submit" class="btn btn-primary">Withdraw</button>
            </form>

        </div>
    </div>
</div>